.Footer {
  display: flex;
  flex-direction: column;
}

.Contatos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 16%;
}

.contato,
.contato a {
  display: flex;
  gap: 33px;
  color: #a7a7a7;
  text-decoration: none;
  list-style: none;
}

.redes {
  display: flex;
  gap: 20px;
  align-items: center;
}

.redes img {
  width: 30px;
  height: 29.26px;
}

.Lista {
  display: flex;
  gap: 48px;
}

.Contato {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.content {
  border: 2px solid #42446e;
  width: 85%;
  border-radius: 16px;
  margin-left: 10%;
  margin-top: -5%;
  opacity: 0.2;
}

.redes img:hover,
.Contato:hover {
  filter: brightness(1.5);
}

@media (width <= 765px) {
  .Footer {
    display: none;
  }
}
